## Assignment for Module 5

### Kristin Medlin, week of September 29, 2019

### This work is with the New York City Gas Consumption Data Set. #### The information can be accessed at https://data.cityofnewyork.us/Environment/Natural-Gas-Consumption-by-ZIP-Code-2010/uedp-fegm/data 
#### We will load the data and then explore the information to discover more information.

##### Use first import pandas and then read_csv to load the data set.

In [44]:
import pandas as pd
nyc_gas = pd.read_csv("https://data.cityofnewyork.us/api/views/uedp-fegm/rows.csv?accesstype=DOWNLOAD")

##### Look at the information in the data set to better understand what is contained in this set. Use .head and the number for the rows to look at.

In [45]:
nyc_gas.head(10)

,Zip Code,Building type (service class,Consumption (therms),Consumption (GJ),Utility/Data Source
0,10300,Commercial,470.0,50.0,National Grid
1,10335,Commercial,647.0,68.0,National Grid
2,10360,Large residential,33762.0,3562.0,National Grid
3,11200,Commercial,32125.0,3389.0,National Grid
4,11200,Institutional,3605.0,380.0,National Grid
5,11200,Small residential,3960.0,418.0,National Grid
6,11254,Small residential,1896.0,200.0,National Grid
7,11274,Commercial,8364.0,882.0,National Grid
8,11279,Commercial,2579.0,272.0,National Grid
9,11279,Large residential,301.0,32.0,National Grid

##### The data set contains data in columns for zip code, type of business served, consumption in therms for that location, consumption in GJ, and source of the information.

###### Look at the shape to see the number of rows and columns. Use .shape to see this.

In [46]:
nyc_gas.shape

(1015, 5)

In [47]:
nyc_gas.values

array([['10300', 'Commercial', 470.0, 50.0, 'National Grid'],
       ['10335', 'Commercial', 647.0, 68.0, 'National Grid'],
       ['10360', 'Large residential', 33762.0, 3562.0, 'National Grid'],
       ...,
       ['11434(40.676945262114, -73.775306901692)', 'Large residential',
        38846378.0, 4098510.0, 'National Grid'],
       ['11221(40.691288039511, -73.927617927925)', 'Large residential',
        8523704.0, 899299.0, 'National Grid'],
       ['10474(40.810882923108, -73.882356362356)', 'Commercial',
        3122702.0, 329463.0, 'ConEd']], dtype=object)

##### We can find the labels for the columns.

In [48]:
 nyc_gas.columns

Index(['Zip Code', 'Building type (service class', ' Consumption (therms) ',
       ' Consumption (GJ) ', 'Utility/Data Source'],
      dtype='object')

In [49]:
list(nyc_gas.columns)

['Zip Code',
 'Building type (service class',
 ' Consumption (therms) ',
 ' Consumption (GJ) ',
 'Utility/Data Source']

##### Rename the columns to make easier to work with in our program. Make a list that puts a new label in place of the old name.

In [50]:
new_labels = {'Zip Code' : "zip", 'Building type (service class' : "building_type", ' Consumption (therms) ' : "consumption_therms", ' Consumption (GJ) ' : "consumption_gj", 'Utility/Data Source' : "utility_reporter"}
nyc_gas = nyc_gas.rename(columns = new_labels )

In [51]:
nyc_gas.head()

,zip,building_type,consumption_therms,consumption_gj,utility_reporter
0,10300,Commercial,470.0,50.0,National Grid
1,10335,Commercial,647.0,68.0,National Grid
2,10360,Large residential,33762.0,3562.0,National Grid
3,11200,Commercial,32125.0,3389.0,National Grid
4,11200,Institutional,3605.0,380.0,National Grid

### We will look at some information on each of these columns.

###### How many different unique types of service types are there, what is the median energy use for each, and how do they compare.

In [98]:
nyc_gas['building_type'].unique()

array(['Commercial', 'Large residential', 'Institutional',
       'Small residential', 'Industrial', 'Large Residential',
       'Residential'], dtype=object)

### I want to filter the data so that I have a data frame with each unique service type, one for commerical, large residential, institutional, small residential, industrial, and residential. I would like to combine the two groups Large residential and Large Residential.

In [99]:
commercial_df = nyc_gas[nyc_gas['building_type']=='Commercial']
commercial_df.head()

     zip building_type  consumption_therms  consumption_gj utility_reporter
0  10300    Commercial               470.0            50.0    National Grid
1  10335    Commercial               647.0            68.0    National Grid
3  11200    Commercial             32125.0          3389.0    National Grid
7  11274    Commercial              8364.0           882.0    National Grid
8  11279    Commercial              2579.0           272.0    National Grid

#### Once the data is in the dataframe and filtered to the Commercial Service, we can find the median for the consumption of gas in GJ for this type of user.

In [100]:
commercial_df["consumption_gj"].median()

189413.0

#### We now make a dataframe filtered to Institutional service user.

In [101]:
institutional_df = nyc_gas[nyc_gas["building_type"]=='Institutional']
institutional_df.head()

      zip  building_type  consumption_therms  consumption_gj utility_reporter
4   11200  Institutional              3605.0           380.0    National Grid
15  11315  Institutional               339.0            36.0    National Grid
27  11400  Institutional             93140.0          9827.0    National Grid
32  11438  Institutional              1770.0           187.0    National Grid
36  11468  Institutional             49184.0          5189.0    National Grid

#### We will find the median usage of gas in GJ for this type of user, Institutional service.

In [102]:
institutional_df["consumption_gj"].median()

66027.0

#### We will use the same method to make a dataframe for the service user, small residential, and then use the consumption_gj column to get the median gas usage for this group also.

In [103]:
small_residential_df = nyc_gas[nyc_gas["building_type"]=='Small residential']
small_residential_df.head()

,zip,building_type,consumption_therms,consumption_gj,utility_reporter
5,11200,Small residential,3960.0,418.0,National Grid
6,11254,Small residential,1896.0,200.0,National Grid
11,11303,Small residential,3009.0,317.0,National Grid
12,11313,Small residential,3488.0,368.0,National Grid
13,11314,Small residential,6011.0,634.0,National Grid

In [104]:
small_residential_df["consumption_gj"].median()

599600.0

#### Now we will make a dataframe that combines the two building types Large Residential and large residential which are the same thing, but denoted in the dataset by different column names. Combine these into one dataframe and find the median gas usage by GJ.

In [86]:
large_residential_df = nyc_gas[nyc_gas["building_type"].isin(["Large Residential", "Large residential"])]
large_residential_df.head(10)

,zip,building_type,consumption_therms,consumption_gj,utility_reporter
2,10360,Large residential,33762.0,3562.0,National Grid
9,11279,Large residential,301.0,32.0,National Grid
16,11315,Large residential,335091.0,35354.0,National Grid
20,11335,Large residential,NaN,NaN,National Grid
28,11400,Large residential,280.0,30.0,National Grid
43,11474,Large residential,2223970.0,234641.0,National Grid
46,11477,Large residential,493904.0,52110.0,National Grid
56,"10467(40.877047912132, -73.871532500824)",Large Residential,4811979.0,507691.0,ConEd
71,"10010(40.739140782121, -73.982898456399)",Large Residential,212584.0,22429.0,ConEd
76,"11220(40.641184928741, -74.016764726711)",Large residential,6756193.0,712816.0,National Grid

In [105]:
large_residential_df["consumption_gj"].median()

160960.0

#### It would be helpful to know the source of the utility reports that contribute to the dataset since there are a couple of reporters. We can find the different utility data reporters and then find the mean and standard deviation for utility usage for these sources. We can compare the utilities then.

In [106]:
nyc_gas['utility_reporter'].unique

<bound method Series.unique of 0       National Grid
1       National Grid
2       National Grid
3       National Grid
4       National Grid
5       National Grid
6       National Grid
7       National Grid
8       National Grid
9       National Grid
10      National Grid
11      National Grid
12      National Grid
13      National Grid
14      National Grid
15      National Grid
16      National Grid
17      National Grid
18      National Grid
19      National Grid
20      National Grid
21      National Grid
22      National Grid
23      National Grid
24      National Grid
25      National Grid
26      National Grid
27      National Grid
28      National Grid
29      National Grid
            ...
985     National Grid
986             ConEd
987     National Grid
988             ConEd
989     National Grid
990     National Grid
991     National Grid
992             ConEd
993     National Grid
994             ConEd
995             ConEd
996     National Grid
997     National Grid
998             ConEd
999             ConEd
1000    National Grid
1001    National Grid
1002            ConEd
1003    National Grid
1004            ConEd
1005            ConEd
1006    National Grid
1007            ConEd
1008            ConEd
1009    National Grid
1010            ConEd
1011            ConEd
1012    National Grid
1013    National Grid
1014            ConEd
Name: utility_reporter, Length: 1015, dtype: object>

#### Make a dataframe for each of the utility providers, National Grid and ConEd
#### with the information for zip, building type of service, consumption in therms and gj and then find mean and standard deviation for each utility provider.

##### Here is the dataframe for National Grid provider

In [91]:
national_grid = nyc_gas[nyc_gas['utility_reporter']=='National Grid']
national_grid.head(10)

,zip,building_type,consumption_therms,consumption_gj,utility_reporter
0,10300,Commercial,470.0,50.0,National Grid
1,10335,Commercial,647.0,68.0,National Grid
2,10360,Large residential,33762.0,3562.0,National Grid
3,11200,Commercial,32125.0,3389.0,National Grid
4,11200,Institutional,3605.0,380.0,National Grid
5,11200,Small residential,3960.0,418.0,National Grid
6,11254,Small residential,1896.0,200.0,National Grid
7,11274,Commercial,8364.0,882.0,National Grid
8,11279,Commercial,2579.0,272.0,National Grid
9,11279,Large residential,301.0,32.0,National Grid

#### Find the mean gas consumption in GJ for the utility provider National Grid. use .mean()

In [92]:
national_grid['consumption_gj'].mean

<bound method Series.mean of 0            50.0
1            68.0
2          3562.0
3          3389.0
4           380.0
5           418.0
6           200.0
7           882.0
8           272.0
9            32.0
10         1376.0
11          317.0
12          368.0
13          634.0
14          899.0
15           36.0
16        35354.0
17          470.0
18          384.0
19          400.0
20            NaN
21          520.0
22          259.0
23         1060.0
24           87.0
25         2307.0
26           29.0
27         9827.0
28           30.0
29         5388.0
          ...
944      178172.0
948        1410.0
950       33431.0
952      537491.0
954       21263.0
955       88593.0
957      169596.0
958         682.0
967      160339.0
968        3069.0
969         457.0
970       36176.0
971     1047349.0
973      214259.0
978       29307.0
985      129836.0
987      345873.0
989      874792.0
990      103805.0
991        2229.0
993          35.0
996      762762.0
997       37174.0
1000     675813.0
1001     512976.0
1003    1044837.0
1006      24151.0
1009      91274.0
1012    4098510.0
1013     899299.0
Name: consumption_gj, Length: 497, dtype: float64>

##### Find the standard deviation for the usage data for the National Grid provider.

In [93]:
national_grid['consumption_gj'].std

<bound method Series.std of 0            50.0
1            68.0
2          3562.0
3          3389.0
4           380.0
5           418.0
6           200.0
7           882.0
8           272.0
9            32.0
10         1376.0
11          317.0
12          368.0
13          634.0
14          899.0
15           36.0
16        35354.0
17          470.0
18          384.0
19          400.0
20            NaN
21          520.0
22          259.0
23         1060.0
24           87.0
25         2307.0
26           29.0
27         9827.0
28           30.0
29         5388.0
          ...
944      178172.0
948        1410.0
950       33431.0
952      537491.0
954       21263.0
955       88593.0
957      169596.0
958         682.0
967      160339.0
968        3069.0
969         457.0
970       36176.0
971     1047349.0
973      214259.0
978       29307.0
985      129836.0
987      345873.0
989      874792.0
990      103805.0
991        2229.0
993          35.0
996      762762.0
997       37174.0
1000     675813.0
1001     512976.0
1003    1044837.0
1006      24151.0
1009      91274.0
1012    4098510.0
1013     899299.0
Name: consumption_gj, Length: 497, dtype: float64>

#### Now make the dataframe for the data that pertains to ConEd utility provider, find mean and standard deviation and the information can be compared for the utility providers.

In [110]:
coned = nyc_gas[nyc_gas['utility_reporter']=='ConEd']
coned.head(10)

,zip,building_type,consumption_therms,consumption_gj,utility_reporter
51,"11109(40.744414792409, -73.957702346686)",Commercial,45899.0,4843.0,ConEd
52,"11429(40.709913120494, -73.738640316098)",Commercial,755.0,80.0,ConEd
56,"10467(40.877047912132, -73.871532500824)",Large Residential,4811979.0,507691.0,ConEd
59,"10003(40.731943947555, -73.98887214913)",Residential,3229606.0,340742.0,ConEd
61,"10451(40.820696407114, -73.923841367985)",Commercial,8071587.0,851598.0,ConEd
62,"10468(40.869693003729, -73.898926992487)",Residential,907812.0,95779.0,ConEd
68,"10034(40.870617109292, -73.924223258796)",Residential,226754.0,23924.0,ConEd
69,"11422(40.661613493968, -73.736051726406)",Commercial,295.0,31.0,ConEd
70,"10044(40.761976486226, -73.949999674945)",Residential,93171.0,9830.0,ConEd
71,"10010(40.739140782121, -73.982898456399)",Large Residential,212584.0,22429.0,ConEd

##### Calculate mean for the data

In [111]:
coned['consumption_gj'].mean

<bound method Series.mean of 51         4843.0
52           80.0
56       507691.0
59       340742.0
61       851598.0
62        95779.0
68        23924.0
69           31.0
70         9830.0
71        22429.0
72        42801.0
74       151242.0
77         3854.0
78        19293.0
80        49791.0
81       103574.0
85        15944.0
86       446301.0
88        38711.0
90       264430.0
91       179125.0
92       758591.0
93         1884.0
94       141014.0
98         1646.0
99       475734.0
100      761154.0
101      189461.0
102       24848.0
104        1547.0
          ...
963           NaN
964       15702.0
965      368147.0
966       19263.0
972      391284.0
974          49.0
975       33331.0
976       11736.0
977      216428.0
979           NaN
980       32998.0
981      134734.0
982      158368.0
983      273728.0
984      731278.0
986      249819.0
988       49547.0
992      510821.0
994        1441.0
995      838312.0
998      170908.0
999      828392.0
1002          NaN
1004      64121.0
1005     109181.0
1007       7828.0
1008      42582.0
1010    1143922.0
1011       6044.0
1014     329463.0
Name: consumption_gj, Length: 518, dtype: float64>

##### Calculate standard deviation

In [113]:
coned['consumption_gj'].std

<bound method Series.std of 51         4843.0
52           80.0
56       507691.0
59       340742.0
61       851598.0
62        95779.0
68        23924.0
69           31.0
70         9830.0
71        22429.0
72        42801.0
74       151242.0
77         3854.0
78        19293.0
80        49791.0
81       103574.0
85        15944.0
86       446301.0
88        38711.0
90       264430.0
91       179125.0
92       758591.0
93         1884.0
94       141014.0
98         1646.0
99       475734.0
100      761154.0
101      189461.0
102       24848.0
104        1547.0
          ...
963           NaN
964       15702.0
965      368147.0
966       19263.0
972      391284.0
974          49.0
975       33331.0
976       11736.0
977      216428.0
979           NaN
980       32998.0
981      134734.0
982      158368.0
983      273728.0
984      731278.0
986      249819.0
988       49547.0
992      510821.0
994        1441.0
995      838312.0
998      170908.0
999      828392.0
1002          NaN
1004      64121.0
1005     109181.0
1007       7828.0
1008      42582.0
1010    1143922.0
1011       6044.0
1014     329463.0
Name: consumption_gj, Length: 518, dtype: float64>

#### Now we have been able to compare the median usage for the types of buildings by the service type and compare the mean usage and standard deviation for the two different utility providers National Grid and ConEd. This helps us usefully see information to make more informed decisions regarding the Gas Service.

#### Suggestions for Improvement

##### The zip codes were noted with what looks like the range, so the we could have a more uniform input or fix for this value. 

#####  Another thing that could be changed would be to change all numbers to integer not float so there were no decimals.